.event-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
  overflow: hidden;
  width: 750px;
  /* margin: 20px auto; */
  height: 300px;
  font-family: Arial, sans-serif;
  vertical-align: top;
  font-family: var(--head-font);
}

.event-image-container {
  position: relative;
  width: 50%;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.camera-icon {
  position: absolute;
  bottom: 16px;
  left: 16px;
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  padding: 8px;
  border-radius: 50%;
}

.event-content {
  padding: 24px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-category {
  background-color: #004AAD;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 8px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 12px;
  width: fit-content;
  /* height: 0px; */
}

.event-title {
  font-size: 22px;
  font-weight: 800;
  margin: 0 0 12px;
  line-height: 1.3;
}

.event-meta {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.event-description {
  font-size: 15px;
  color: #444;
  line-height: 1.5;
}

.event-card-container{
  background: white;
  padding: 20px 15px;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
    height: fit-content;
  }

  .second-side{
    display: none;
  }

  .latest-section{
    /* display: none; */
    margin-top: 80px;
  }

  .latest-news-card{
    display: flex;
    width: 100%;
  }
  
  .hero-section{
    display: block;
  }

  .event-image-container,
  .event-content {
    width: 100%;
  }

  /* .event-card-container{
    width: 80%;
  } */
  .event-card{
    width: 100%;
  }

  .event-image {
    height: 250px;
  }

  .event-content {
    padding: 16px;
  }

  .event-title {
    font-size: 20px;
  }

  .event-description {
    font-size: 14px;
  }
  .carousel{
    height: fit-content;
  }

  .event-meta {
    font-size: 13px;
    gap: 10px;
  }

  .camera-icon {
    font-size: 18px;
    padding: 6px;
    bottom: 12px;
    left: 12px;
  }
}